<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.a20190418test">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/pcs"
            android:label="PCS"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:label">
        <activity
                android:name=".myDrawer"
                android:label="@string/title_activity_my_drawer"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.a20190418test.MainActivity"/>
        </activity>
        <activity android:name=".findPassword">
        </activity>
        <activity android:name=".JoinActivity">
        </activity>
        <activity
                android:name=".StartActivity"
                android:label="PCS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".DiaryCalRead"
                android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth">
        </activity>
        <activity
                android:name=".DiaryModify"
                android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth">
        </activity>
        <activity android:name=".DiaryMain">
        </activity>
        <activity android:name=".TableIll">
        </activity>
        <activity android:name=".TableHumi">
        </activity>
        <activity android:name=".TableTemp">
        </activity>
        <activity android:name=".GraphIll">
        </activity>
        <activity android:name=".GraphHumi">
        </activity>
        <activity android:name=".GraphTemp">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".Graph">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>